@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<SharedResources> SharedHtmlLocalizer



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dopomoga</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="height: 100%">


    @inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
    @inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions


    @{
        var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
        var cultureList = locOptions.Value.SupportedCultures.Select(
        x => new SelectListItem()
            {
                Value = x.Name,
                Text = x.Name == "en" ? "ქართული" : "український"
            }
        ).ToList();
    }

    <header id="mainHeader" style=" background: #2791B6">

        <div id="mainLogoBeta" style="position: absolute;
                                    width: 50px;
                                    height: 30px;
                                    left: 293px;
                                    top: 21.28px;
                                    z-index: 99">

            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="9" fill="none" viewBox="0 0 30 9">
                <path fill="#D8D8D8" d="M4.066 5.145H1.893L1.88 4.072h1.898c.32 0 .592-.047.815-.14.226-.098.398-.237.515-.416.118-.184.176-.405.176-.662 0-.286-.055-.518-.164-.698a.94.94 0 00-.504-.392c-.222-.082-.508-.123-.855-.123H2.338V9H.868V.469h2.894c.468 0 .886.045 1.254.135.37.09.685.23.943.421.262.188.459.426.592.715.136.29.205.633.205 1.031 0 .352-.084.674-.252.967-.168.29-.416.526-.744.71-.328.183-.737.292-1.225.327l-.469.37zM4.002 9H1.43l.662-1.166h1.91c.332 0 .61-.055.832-.164.223-.113.389-.268.498-.463.113-.2.17-.432.17-.697 0-.278-.049-.518-.147-.72a1.01 1.01 0 00-.462-.476c-.211-.113-.487-.17-.827-.17H2.414l.012-1.072h2.15l.334.405c.469.015.854.119 1.154.31.305.192.532.44.68.744.149.305.223.633.223.985 0 .543-.12.998-.358 1.365a2.205 2.205 0 01-1.013.838C5.154 8.906 4.623 9 4.002 9zm10.031-1.166V9h-4.53V7.834h4.53zM9.92.469V9H8.45V.469h1.47zM13.44 4.03V5.18H9.504V4.03h3.937zM14.004.47V1.64h-4.5V.469h4.5zm4.857 0V9h-1.459V.469h1.46zm2.678 0V1.64h-6.791V.469h6.791zm3.885 1.136L22.875 9h-1.541l3.21-8.531h.985l-.105 1.136zM27.557 9l-2.555-7.395L24.891.47h.99L29.104 9h-1.547zm-.123-3.164v1.166h-4.641V5.836h4.64z" />
            </svg>

        </div>

        <div id="mainLogoDiv" style="position: absolute;
                                    width: 211px;
                                    height: 79.98px;
                                    left: 67px;
                                    top: 18.28px;
                                    z-index: 99">
            <a href="@Url.Action("Index", "Home")" style=" text-decoration: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="235" height="68" fill="none" viewBox="0 0 235 68">
                    <g clip-path="url(#clip0_94_10043)">
                        <path fill="#fff" d="M91.468 26.348c5.257 0 8.724 3.31 8.724 8.334 0 5.023-3.466 8.333-8.724 8.333H84.54V26.348h6.928zm-3.576 3.108v10.456h3.54c3.54 0 5.257-2.205 5.257-5.225 0-3.062-1.718-5.225-5.257-5.225h-3.54v-.006zM120.061 34.681c0 4.978-3.659 8.644-8.833 8.644-5.175 0-8.823-3.666-8.823-8.644 0-4.977 3.648-8.643 8.823-8.643 5.174 0 8.833 3.666 8.833 8.643zm-14.164 0c0 3.238 2.244 5.453 5.331 5.453 3.097 0 5.33-2.215 5.33-5.453 0-3.237-2.233-5.452-5.33-5.452-3.087 0-5.331 2.215-5.331 5.453zM126.422 36.917v6.098h-3.347V26.348h6.855c4.008 0 6.148 2.07 6.148 5.297 0 3.202-2.134 5.272-6.122 5.272h-3.534zm0-7.512v4.476h3.446c1.822 0 2.774-.738 2.774-2.236 0-1.486-.947-2.24-2.774-2.24h-3.446zM155.806 34.681c0 4.978-3.659 8.644-8.833 8.644s-8.823-3.666-8.823-8.644c0-4.977 3.649-8.643 8.823-8.643s8.833 3.666 8.833 8.643zm-14.158 0c0 3.238 2.243 5.453 5.33 5.453 3.097 0 5.33-2.215 5.33-5.453 0-3.237-2.233-5.452-5.33-5.452-3.087 0-5.33 2.215-5.33 5.453zM177.367 43.015h-3.347V30.432l-4.154 10.977h-3.54l-4.154-10.884v12.49h-3.347V26.348h4.909l4.367 11.25 4.357-11.25h4.909v16.667zM198.037 34.681c0 4.978-3.659 8.644-8.834 8.644-5.174 0-8.823-3.666-8.823-8.644 0-4.977 3.649-8.643 8.823-8.643 5.175 0 8.834 3.666 8.834 8.643zm-14.164 0c0 3.238 2.244 5.453 5.33 5.453 3.098 0 5.331-2.215 5.331-5.453 0-3.237-2.233-5.452-5.331-5.452-3.081 0-5.33 2.215-5.33 5.453zM215.49 28.6l-2.415 2.343c-.947-1.084-2.342-1.75-4.055-1.75-3.071 0-5.304 2.236-5.304 5.488 0 3.408 2.342 5.536 5.247 5.536 2.738 0 4.331-1.312 4.778-3.682h-4.273v-2.772h7.73c.036.32.047.63.047.94 0 5.049-3.446 8.606-8.209 8.606-4.659 0-8.787-3.247-8.787-8.633 0-5.034 3.706-8.643 8.87-8.643 2.665.005 4.883.955 6.371 2.566zM235 43.015h-3.576l-1.463-3.883h-7.167l-1.463 3.883h-3.493l6.543-16.667h4.081L235 43.015zm-11.056-6.94h4.862l-2.426-6.438-2.436 6.439zM98.829 57.864c0 4.606-2.968 6.955-7.236 6.955-4.273 0-7.235-2.344-7.235-6.955V47.849h3.362v9.846c0 2.737 1.562 3.94 3.878 3.94 2.317 0 3.878-1.203 3.878-3.94v-9.846h3.363v10.017h-.01zM107.35 57.658h-1.546v6.857h-3.347V47.848h3.347v6.748h1.582l5.559-6.748h4.201l-7.048 8.132 7.574 8.535h-4.347l-5.975-6.857zM126.651 47.848c4.008 0 6.158 1.88 6.158 5.07 0 2.737-1.921 4.606-5.148 4.916l5.174 6.68h-4.055l-4.898-6.629h-.984v6.63h-3.347V47.848h7.1zm-3.758 3.062v4.084h3.696c1.821 0 2.774-.666 2.774-2.07 0-1.38-.994-2.014-2.774-2.014h-3.696zM151.257 64.52h-3.576l-1.463-3.883h-7.168l-1.463 3.883h-3.492l6.543-16.667h4.081l6.538 16.667zm-11.051-6.945h4.861l-2.425-6.438-2.436 6.438zM156.769 64.52h-3.347V47.848h3.347V64.52zM175.612 64.52h-3.144l-8.521-11.132-.01 11.132h-3.347V47.848h3.133l8.532 11.132V47.848h3.363V64.52h-.006zM182.78 64.52h-3.347V47.848h3.347V64.52z" />
                        <g>
                            <path fill="#F8BF0C" d="M24.054 67.82c-.5 0-.797-.011-.849-.011l-2.91-.119 7.033-22.734C14.408 34.196 9.526 23.503 7.714 16.342c-2.066-8.158-.75-13.688-.692-13.92L7.61 0l2.358.852c1.858.671 45.583 16.626 52.772 35.43 1.608 4.203 1.358 8.272-.734 12.098-4.622 8.447-12.826 14.488-23.71 17.467-6.543 1.781-12.165 1.972-14.242 1.972zm9.203-42.066l4.294 1.307L26.35 63.286c2.561-.15 6.523-.573 10.87-1.776 9.754-2.695 16.765-7.833 20.83-15.263 1.464-2.67 1.62-5.416.485-8.39-2.623-6.862-12.03-14.69-27.208-22.63-8.298-4.343-16.257-7.616-20.244-9.18-.11 2.121 0 5.43 1.057 9.479 1.614 6.18 5.825 15.32 16.62 24.773l4.498-14.545z" />
                            <path fill="#F8BF0C" d="M26.167 55.428C11.191 45.772 4.898 34.49 2.254 26.72-.651 18.19.068 11.958.099 11.7l.323-2.66 2.576.801c.12.036 2.926.909 7.314 2.458l-1.505 4.203a242.253 242.253 0 00-4.289-1.472c.1 2.38.547 6.108 2.072 10.502 2.441 7.033 8.24 17.277 22.024 26.162l-2.447 3.733zM58.367 37.434c-1.332-2.794-.75-4.895-.026-6.165 1.437-2.53 4.602-3.831 7.038-4.482-1.244-1.565-3.67-3.397-8.183-3.397v-4.456c5.82 0 9.23 2.36 11.067 4.342 2.004 2.158 2.608 4.337 2.67 4.575l.645 2.504-2.592.268c-2.264.243-5.856 1.28-6.73 2.835-.12.212-.443.78.177 2.07l-4.066 1.906zM21.711 68c-5.7 0-9.89-.625-10.207-.676l.687-4.405c.135.021 13.435 1.999 24.58-1.285l1.28 4.275C32.481 67.546 26.552 68 21.711 68z" />
                        </g>
                    </g>
                    <defs>
                        <clipPath id="clip0_94_10043">
                            <path fill="#fff" d="M0 0h235v68H0z" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="row" style="height:50px; background: #2791B6">
            <div class="d-flex justify-content-end">

                <p style="font-family: FiraGO-SemiBold;
                                            font-size: 20px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 23px;
                                            letter-spacing: 0.1em;
                                            text-align: left;
                                            color:white;
                                            margin-right:3px;
                                            margin-top:13px;
                                            ">

                    @if (culture.RequestCulture.Culture.IetfLanguageTag == "uk")
                    {
                        <span style="margin-left:40px;">UA</span>
                    }
                    else
                    {
                        <span style="margin-left:40px;">KA</span>
                    }
                </p>

                <div style="width:25px; height:25px; margin-right:5px;
                                            margin-top:12px;"
                     onclick="
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("CultureManagement", "Home", new {culture = "uk"})',
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: { culture: 'en' },
                                                    dataType: 'json',
                                                   success: function() { location.reload(); },
                                                    error: function () { location.reload();}
                                                });
">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                        <path fill="#fff" stroke="#fff" stroke-width="2" d="M1 12.683C1 6.23 6.23 1 12.683 1h.634C19.77 1 25 6.23 25 12.683c0 6.452-5.23 11.683-11.683 11.683h-.634C6.23 24.366 1 19.136 1 12.683z" />
                        <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                        <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                        <g>
                            <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                        </g>
                        <g>
                            <mask id="a" width="26" height="26" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:alpha">
                                <path fill="#fff" d="M0 12.683C0 5.678 5.678 0 12.683 0h.634C20.322 0 26 5.678 26 12.683s-5.678 12.683-12.683 12.683h-.634C5.678 25.366 0 19.688 0 12.683z" />
                                <path stroke="#CDCDCD" d="M0 12.683C0 5.678 5.678 0 12.683 0h.634C20.322 0 26 5.678 26 12.683s-5.678 12.683-12.683 12.683h-.634C5.678 25.366 0 19.688 0 12.683z" />
                            </mask>
                            <g mask="url(#a)">
                                <path stroke="#CDCDCD" stroke-width="2" d="M17.488 12.683C17.488 6.23 22.718 1 29.17 1h.634c6.452 0 11.683 5.23 11.683 11.683 0 6.452-5.23 11.683-11.683 11.683h-.634c-6.453 0-11.683-5.23-11.683-11.683z" />
                                <path fill="#017FCD" d="M-1.268-1.902h28.537v14.585H-1.268z" />
                                <path fill="#F8BF0C" d="M-1.268 12.683h28.537v14.585H-1.268z" />
                            </g>
                        </g>
                        <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                    </svg>

                </div>

                <div style="width:25px; height:25px; margin-right:30px;margin-top:12px;float:right;margin-right:30px;"
                     onclick="
                                    
                                    
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("CultureManagement", "Home", new {culture = "en"})',
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: { culture: 'en' },
                                                    dataType: 'json',
                                                    success: function() { location.reload(); },
                                                    error: function () { location.reload();}
                                                });
                                                ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                        <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                        <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                        <g>
                            <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                        </g>
                        <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                        <g>
                            <path fill="#fff" stroke="#fff" stroke-width="2" d="M1 12.683C1 6.23 6.23 1 12.683 1h.634C19.77 1 25 6.23 25 12.683c0 6.452-5.23 11.683-11.683 11.683h-.634C6.23 24.366 1 19.136 1 12.683z" />
                            <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                            <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                            <g>
                                <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                            </g>
                            <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                        </g>
                    </svg>

                </div>



            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light" style="background: #2791B6">

            <div class="col-md-3"></div>

            <div class="col-md-9">
                <div class="row">
                    <div class="container">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse justify-content-between">
                                <ul class="navbar-nav ">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                            <p id="mainPageP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:#F8BF0C;">
                                                @SharedLocalizer["Home"]
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">
                                            <p id="aboutUsP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:white;
                                                                        margin-left:40px">@SharedLocalizer["AboutUs"]</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">
                                            <p id="contactsP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:white;
                                                                        margin-left:40px">@SharedLocalizer["Contacts"]</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">
                                            <p id="faqP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:white;
                                                                        margin-left:40px">@SharedLocalizer["FAQ"]</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="d-flex">
                                    <div style="width:30px; height:30px; margin-top:10px; margin-right:10px;margin-left:auto;" onclick="window.open('https://t.me/+ugrIKNOeRGAzMzVi', '_blank');">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 48 47">
                                            <circle cx="23" cy="24" r="23" fill="white" />
                                            <path fill="#fff" stroke="none" d="M23.554 46.5c-12.693 0-23-10.325-23-23s10.307-23 23-23c12.692 0 23 10.307 23 23 0 12.692-10.326 23-23 23zm0-45.217c-12.245 0-22.218 9.973-22.218 22.217 0 12.244 9.973 22.218 22.218 22.218 12.244 0 22.217-9.974 22.217-22.218S35.798 1.283 23.554 1.283z" />
                                            <path fill="#017FCD" d="M34.831 14.45c-.273-.6-.819-.928-1.564-.928-.546 0-1.019.163-1.073.2-.164.054-15.88 6.075-22.318 8.712-.564.237-.928.564-1.091.964-.237.637.218 1.291.636 1.492 1.6.709 4.93 1.691 5.984 1.982.346 1.146 1.546 5.13 2.11 6.84.127.454.564.727 1.128.727h.145a.606.606 0 00.382-.2.497.497 0 00.146-.346l.327-4.82c.637.473 1.546 1.164 2.565 1.91 2 1.491 4.402 3.274 5.73 4.238.472.345.927.509 1.364.509.964 0 1.527-.837 1.71-1.546 1.109-4.31 2.728-12.46 3.71-17.334l.218-1.073c.128-.636.018-1.037-.109-1.328zM18.552 27.89l-.31 4.275c-.727-2.328-1.8-5.893-1.818-5.948v-.036l12.296-8.003s.836-.582 1.164-.637c.436-.09.527.073.454.182-.29.4-1.71 1.62-1.71 1.62l-9.803 8.111a.507.507 0 00-.273.437z" />
                                        </svg>

                                    </div>

                                    <div style="width:30px; height:30px; margin-top:10px; margin-right:10px;" onclick="window.open('https://instagram.com/dopomoga.ge?utm_medium=copy_link', '_blank');">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 48 47">
                                            <circle cx="23" cy="24" r="23" fill="white" />
                                            <path fill="#fff" stroke="none" d="M24.344 46.5c-12.675 0-23-10.308-23-23 0-12.693 10.307-23 23-23 12.692 0 23 10.307 23 23 0 12.692-10.326 23-23 23zm0-45.217c-12.245 0-22.218 9.973-22.218 22.217 0 12.244 9.973 22.218 22.218 22.218 12.244 0 22.217-9.974 22.217-22.218S36.588 1.283 24.344 1.283z" />
                                            <path fill="#017FCD" d="M24.344 13.827c3.31 0 3.71.018 5.002.073 1.2.055 1.873.255 2.31.418.582.219 1 .492 1.419.928.436.437.709.855.927 1.419.164.436.364 1.091.419 2.31.054 1.31.072 1.691.072 5.002 0 3.31-.018 3.71-.072 5.002-.055 1.2-.255 1.873-.419 2.31-.218.582-.49 1-.927 1.419-.437.436-.855.709-1.42.927-.436.164-1.09.364-2.31.419-1.309.054-1.69.072-5.001.072-3.31 0-3.71-.018-5.002-.072-1.2-.055-1.873-.255-2.31-.419-.582-.218-1-.49-1.419-.927a3.843 3.843 0 01-.927-1.42c-.164-.436-.364-1.09-.419-2.31-.054-1.309-.072-1.69-.072-5.001 0-3.31.018-3.71.072-5.002.055-1.2.255-1.874.419-2.31.218-.582.49-.982.927-1.419.437-.437.855-.71 1.419-.928.436-.163 1.091-.363 2.31-.418 1.291-.055 1.692-.073 5.002-.073zm0-2.237c-3.365 0-3.783.018-5.111.073-1.328.054-2.22.273-3.001.582-.819.31-1.51.746-2.201 1.437a6.22 6.22 0 00-1.437 2.2c-.31.783-.51 1.692-.582 3.002-.055 1.328-.073 1.746-.073 5.111 0 3.365.018 3.783.073 5.111.054 1.328.273 2.22.582 3.001.31.819.746 1.51 1.437 2.201a6.22 6.22 0 002.2 1.437c.783.31 1.692.51 3.002.582 1.328.055 1.746.073 5.11.073 3.366 0 3.784-.018 5.112-.073 1.328-.054 2.219-.273 3.001-.582.819-.31 1.51-.746 2.201-1.437a6.22 6.22 0 001.437-2.2c.31-.783.51-1.692.582-3.002.055-1.328.073-1.746.073-5.111 0-3.365-.018-3.783-.073-5.111-.055-1.328-.273-2.22-.582-3.001-.31-.819-.746-1.51-1.437-2.201a6.219 6.219 0 00-2.2-1.437c-.783-.31-1.692-.51-3.002-.582-1.328-.055-1.746-.073-5.111-.073z" />
                                            <path fill="#017FCD" d="M24.344 17.629a6.373 6.373 0 00-6.366 6.366 6.373 6.373 0 006.366 6.366 6.373 6.373 0 006.366-6.366c-.018-3.51-2.856-6.366-6.366-6.366zm0 10.495a4.137 4.137 0 01-4.13-4.13 4.137 4.137 0 014.13-4.128 4.137 4.137 0 014.129 4.129 4.137 4.137 0 01-4.13 4.129zM32.438 17.374c0 .819-.673 1.492-1.492 1.492a1.498 1.498 0 01-1.491-1.492c0-.818.673-1.491 1.492-1.491.818 0 1.491.673 1.491 1.491z" />
                                        </svg>
                                    </div>

                                    <div style="width:30px; height:30px; margin-top:10px;" onclick="window.open('https://www.facebook.com/www.dopomoga.ge/', '_blank');">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 48 47">
                                            <circle cx="24" cy="23" r="22" fill="white" />
                                            <path fill="#fff" stroke="white" d="M24.156 46.5c-12.675 0-23-10.308-23-23 0-12.693 10.307-23 23-23 12.675 0 23 10.308 23 23s-10.325 23-23 23zm0-45.217c-12.244 0-22.217 9.973-22.217 22.217 0 12.244 9.973 22.218 22.217 22.218 12.244 0 22.218-9.974 22.218-22.218S36.4 1.283 24.155 1.283z" />
                                            <path fill="#017FCD" d="M20.7 36.977h5.511V23.19h3.838l.418-4.62h-4.256v-2.619c0-1.091.219-1.51 1.273-1.51h2.983V9.658h-3.801c-4.093 0-5.948 1.8-5.948 5.256v3.674h-2.856v4.675h2.856v13.714H20.7z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="bg-light">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
