@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<SharedResources> SharedHtmlLocalizer

@{
    var baseUrl = "https://dopomoga.ge";
    var urlMedia = $"{baseUrl}/Categories/Media/1";
    var urlBlog = $"{baseUrl}/Categories/Blog/1";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3WXCPB');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DGET2J1N55"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DGET2J1N55');
    </script>

    <meta name="facebook-domain-verification" content="6v5xd84nny3mg2fu2xg89lk4nypzzn" />

    <meta property="og:url" content="https://www.dopomoga.ge" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Dopomoga" />
    <meta property="og:description" content="Dopomoga" />
    <meta property="og:image" content="https://i.ibb.co/nck9Hgx/277584626-119767813990951-6018180667691169254-n.png" />


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="shortcut icon" href="~/favicon.ico" />
    <title>Dopomoga</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- Core theme CSS (includes Bootstrap)-->

    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '5749561675082886');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=5749561675082886&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body style="height: 100%">

   <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3WXCPB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="load"></div>
    @inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
    @inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions


    @{
        var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
        var cultureList = locOptions.Value.SupportedCultures.Select(
        x => new SelectListItem()
            {
                Value = x.Name,
                Text = x.Name == "en" ? "ქართული" : "український"
            }
        ).ToList();
    }

    <header id="mainHeader" style=" background: #2791B6">


        <div id="mainLogoDiv" style="position: absolute;
                                    width: 211px;
                                    height: 79.98px;
                                    left: 67px;
                                    top: 18.28px;
                                    z-index: 99">
            <a href="@Url.Action("Index", "Home")" style=" text-decoration: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="235" height="68" fill="none" viewBox="0 0 235 68">
                    <g clip-path="url(#clip0_94_10043)">
                        <path fill="#fff" d="M91.468 26.348c5.257 0 8.724 3.31 8.724 8.334 0 5.023-3.466 8.333-8.724 8.333H84.54V26.348h6.928zm-3.576 3.108v10.456h3.54c3.54 0 5.257-2.205 5.257-5.225 0-3.062-1.718-5.225-5.257-5.225h-3.54v-.006zM120.061 34.681c0 4.978-3.659 8.644-8.833 8.644-5.175 0-8.823-3.666-8.823-8.644 0-4.977 3.648-8.643 8.823-8.643 5.174 0 8.833 3.666 8.833 8.643zm-14.164 0c0 3.238 2.244 5.453 5.331 5.453 3.097 0 5.33-2.215 5.33-5.453 0-3.237-2.233-5.452-5.33-5.452-3.087 0-5.331 2.215-5.331 5.453zM126.422 36.917v6.098h-3.347V26.348h6.855c4.008 0 6.148 2.07 6.148 5.297 0 3.202-2.134 5.272-6.122 5.272h-3.534zm0-7.512v4.476h3.446c1.822 0 2.774-.738 2.774-2.236 0-1.486-.947-2.24-2.774-2.24h-3.446zM155.806 34.681c0 4.978-3.659 8.644-8.833 8.644s-8.823-3.666-8.823-8.644c0-4.977 3.649-8.643 8.823-8.643s8.833 3.666 8.833 8.643zm-14.158 0c0 3.238 2.243 5.453 5.33 5.453 3.097 0 5.33-2.215 5.33-5.453 0-3.237-2.233-5.452-5.33-5.452-3.087 0-5.33 2.215-5.33 5.453zM177.367 43.015h-3.347V30.432l-4.154 10.977h-3.54l-4.154-10.884v12.49h-3.347V26.348h4.909l4.367 11.25 4.357-11.25h4.909v16.667zM198.037 34.681c0 4.978-3.659 8.644-8.834 8.644-5.174 0-8.823-3.666-8.823-8.644 0-4.977 3.649-8.643 8.823-8.643 5.175 0 8.834 3.666 8.834 8.643zm-14.164 0c0 3.238 2.244 5.453 5.33 5.453 3.098 0 5.331-2.215 5.331-5.453 0-3.237-2.233-5.452-5.331-5.452-3.081 0-5.33 2.215-5.33 5.453zM215.49 28.6l-2.415 2.343c-.947-1.084-2.342-1.75-4.055-1.75-3.071 0-5.304 2.236-5.304 5.488 0 3.408 2.342 5.536 5.247 5.536 2.738 0 4.331-1.312 4.778-3.682h-4.273v-2.772h7.73c.036.32.047.63.047.94 0 5.049-3.446 8.606-8.209 8.606-4.659 0-8.787-3.247-8.787-8.633 0-5.034 3.706-8.643 8.87-8.643 2.665.005 4.883.955 6.371 2.566zM235 43.015h-3.576l-1.463-3.883h-7.167l-1.463 3.883h-3.493l6.543-16.667h4.081L235 43.015zm-11.056-6.94h4.862l-2.426-6.438-2.436 6.439zM98.829 57.864c0 4.606-2.968 6.955-7.236 6.955-4.273 0-7.235-2.344-7.235-6.955V47.849h3.362v9.846c0 2.737 1.562 3.94 3.878 3.94 2.317 0 3.878-1.203 3.878-3.94v-9.846h3.363v10.017h-.01zM107.35 57.658h-1.546v6.857h-3.347V47.848h3.347v6.748h1.582l5.559-6.748h4.201l-7.048 8.132 7.574 8.535h-4.347l-5.975-6.857zM126.651 47.848c4.008 0 6.158 1.88 6.158 5.07 0 2.737-1.921 4.606-5.148 4.916l5.174 6.68h-4.055l-4.898-6.629h-.984v6.63h-3.347V47.848h7.1zm-3.758 3.062v4.084h3.696c1.821 0 2.774-.666 2.774-2.07 0-1.38-.994-2.014-2.774-2.014h-3.696zM151.257 64.52h-3.576l-1.463-3.883h-7.168l-1.463 3.883h-3.492l6.543-16.667h4.081l6.538 16.667zm-11.051-6.945h4.861l-2.425-6.438-2.436 6.438zM156.769 64.52h-3.347V47.848h3.347V64.52zM175.612 64.52h-3.144l-8.521-11.132-.01 11.132h-3.347V47.848h3.133l8.532 11.132V47.848h3.363V64.52h-.006zM182.78 64.52h-3.347V47.848h3.347V64.52z" />
                        <g>
                            <path fill="#F8BF0C" d="M24.054 67.82c-.5 0-.797-.011-.849-.011l-2.91-.119 7.033-22.734C14.408 34.196 9.526 23.503 7.714 16.342c-2.066-8.158-.75-13.688-.692-13.92L7.61 0l2.358.852c1.858.671 45.583 16.626 52.772 35.43 1.608 4.203 1.358 8.272-.734 12.098-4.622 8.447-12.826 14.488-23.71 17.467-6.543 1.781-12.165 1.972-14.242 1.972zm9.203-42.066l4.294 1.307L26.35 63.286c2.561-.15 6.523-.573 10.87-1.776 9.754-2.695 16.765-7.833 20.83-15.263 1.464-2.67 1.62-5.416.485-8.39-2.623-6.862-12.03-14.69-27.208-22.63-8.298-4.343-16.257-7.616-20.244-9.18-.11 2.121 0 5.43 1.057 9.479 1.614 6.18 5.825 15.32 16.62 24.773l4.498-14.545z" />
                            <path fill="#F8BF0C" d="M26.167 55.428C11.191 45.772 4.898 34.49 2.254 26.72-.651 18.19.068 11.958.099 11.7l.323-2.66 2.576.801c.12.036 2.926.909 7.314 2.458l-1.505 4.203a242.253 242.253 0 00-4.289-1.472c.1 2.38.547 6.108 2.072 10.502 2.441 7.033 8.24 17.277 22.024 26.162l-2.447 3.733zM58.367 37.434c-1.332-2.794-.75-4.895-.026-6.165 1.437-2.53 4.602-3.831 7.038-4.482-1.244-1.565-3.67-3.397-8.183-3.397v-4.456c5.82 0 9.23 2.36 11.067 4.342 2.004 2.158 2.608 4.337 2.67 4.575l.645 2.504-2.592.268c-2.264.243-5.856 1.28-6.73 2.835-.12.212-.443.78.177 2.07l-4.066 1.906zM21.711 68c-5.7 0-9.89-.625-10.207-.676l.687-4.405c.135.021 13.435 1.999 24.58-1.285l1.28 4.275C32.481 67.546 26.552 68 21.711 68z" />
                        </g>
                    </g>
                    <defs>
                        <clipPath id="clip0_94_10043">
                            <path fill="#fff" d="M0 0h235v68H0z" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="row" style="height:50px; background: #2791B6">
            <div class="d-flex justify-content-end" style="background: #2791B6" >

                <div style="width:25px; height:25px;
                                            margin-top:12px; margin-right:5px; cursor:pointer" id="languageBarForDesktopUk"
                     onclick="
                                                $('#load').show();
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("CultureManagement", "Home", new {culture = "uk"})',
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: { culture: 'en' },
                                                    dataType: 'json',
                                                    success: function () {
                                                        location.reload();
                                                    },
                                                    error: function () {
                                                        location.reload();
                                                    }
                                                });
">

                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                        <path fill="#fff" stroke="#fff" stroke-width="2" d="M1 12.683C1 6.23 6.23 1 12.683 1h.634C19.77 1 25 6.23 25 12.683c0 6.452-5.23 11.683-11.683 11.683h-.634C6.23 24.366 1 19.136 1 12.683z" />
                        <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                        <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                        <g>
                            <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                        </g>
                        <g>
                            <mask id="a" width="26" height="26" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:alpha">
                              <path fill="#fff" d="M0 12.683C0 5.678 5.678 0 12.683 0h.634C20.322 0 26 5.678 26 12.683s-5.678 12.683-12.683 12.683h-.634C5.678 25.366 0 19.688 0 12.683z"/>
                              <path stroke="#CDCDCD" d="M0 12.683C0 5.678 5.678 0 12.683 0h.634C20.322 0 26 5.678 26 12.683s-5.678 12.683-12.683 12.683h-.634C5.678 25.366 0 19.688 0 12.683z"/>
                            </mask>
                            <g mask="url(#a)">
                                <path stroke="#CDCDCD" stroke-width="2" d="M17.488 12.683C17.488 6.23 22.718 1 29.17 1h.634c6.452 0 11.683 5.23 11.683 11.683 0 6.452-5.23 11.683-11.683 11.683h-.634c-6.453 0-11.683-5.23-11.683-11.683z" />
                                <path fill="#017FCD" d="M-1.268-1.902h28.537v14.585H-1.268z" />
                                <path fill="#F8BF0C" d="M-1.268 12.683h28.537v14.585H-1.268z" />
                            </g>
                        </g>
                        <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                    </svg>
                </div>

                <div style="width:25px; height:25px;margin-top:12px;float:right; margin-right:5px;  cursor:pointer" id="languageBarForDesktopEN"
                     onclick="

                                                $('#load').show();
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("CultureManagement", "Home", new {culture = "en"})',
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: { culture: 'en' },
                                                    dataType: 'json',
                                                    success: function() {
                                                        location.reload();
                                                    },
                                                    error: function () {
                                                        location.reload();
                                                    }
                                                });
                                                ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                        <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                        <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                        <g>
                            <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                        </g>
                        <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                        <g>
                            <path fill="#fff" stroke="#fff" stroke-width="2" d="M1 12.683C1 6.23 6.23 1 12.683 1h.634C19.77 1 25 6.23 25 12.683c0 6.452-5.23 11.683-11.683 11.683h-.634C6.23 24.366 1 19.136 1 12.683z" />
                            <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                            <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                            <g>
                                <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                            </g>
                            <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                        </g>
                    </svg>

                </div>

                <div style="width:25px; height:25px; margin-right:30px; margin-top:12px; cursor:pointer;" id="languageBarForDesktopGE"
                     onclick="

                                                $('#load').show();
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("CultureManagement", "Home", new {culture = "ge"})',
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: { culture: 'en' },
                                                    dataType: 'json',
                                                    success: function() {
                                                        location.reload();
                                                    },
                                                    error: function () {
                                                        location.reload();
                                                    }
                                                });">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <circle style="fill:#F0F0F0;" cx="256" cy="256" r="256" />
                    <g>
                    <path style="fill:#0052B4;" d="M52.92,100.142c-20.109,26.163-35.272,56.318-44.101,89.077h133.178L52.92,100.142z" />
                    <path style="fill:#0052B4;" d="M503.181,189.219c-8.829-32.758-23.993-62.913-44.101-89.076l-89.075,89.076H503.181z" />
                    <path style="fill:#0052B4;" d="M8.819,322.784c8.83,32.758,23.993,62.913,44.101,89.075l89.074-89.075L8.819,322.784L8.819,322.784   z" />
                    <path style="fill:#0052B4;" d="M411.858,52.921c-26.163-20.109-56.317-35.272-89.076-44.102v133.177L411.858,52.921z" />
                    <path style="fill:#0052B4;" d="M100.142,459.079c26.163,20.109,56.318,35.272,89.076,44.102V370.005L100.142,459.079z" />
                    <path style="fill:#0052B4;" d="M189.217,8.819c-32.758,8.83-62.913,23.993-89.075,44.101l89.075,89.075V8.819z" />
                    <path style="fill:#0052B4;" d="M322.783,503.181c32.758-8.83,62.913-23.993,89.075-44.101l-89.075-89.075V503.181z" />
                    <path style="fill:#0052B4;" d="M370.005,322.784l89.075,89.076c20.108-26.162,35.272-56.318,44.101-89.076H370.005z" />
                    </g>
                    <g>
                    <path style="fill:#D80027;" d="M509.833,222.609h-220.44h-0.001V2.167C278.461,0.744,267.317,0,256,0   c-11.319,0-22.461,0.744-33.391,2.167v220.44v0.001H2.167C0.744,233.539,0,244.683,0,256c0,11.319,0.744,22.461,2.167,33.391   h220.44h0.001v220.442C233.539,511.256,244.681,512,256,512c11.317,0,22.461-0.743,33.391-2.167v-220.44v-0.001h220.442   C511.256,278.461,512,267.319,512,256C512,244.683,511.256,233.539,509.833,222.609z" />
                    <path style="fill:#D80027;" d="M322.783,322.784L322.783,322.784L437.019,437.02c5.254-5.252,10.266-10.743,15.048-16.435   l-97.802-97.802h-31.482V322.784z" />
                    <path style="fill:#D80027;" d="M189.217,322.784h-0.002L74.98,437.019c5.252,5.254,10.743,10.266,16.435,15.048l97.802-97.804   V322.784z" />
                    <path style="fill:#D80027;" d="M189.217,189.219v-0.002L74.981,74.98c-5.254,5.252-10.266,10.743-15.048,16.435l97.803,97.803   H189.217z" />
                    <path style="fill:#D80027;" d="M322.783,189.219L322.783,189.219L437.02,74.981c-5.252-5.254-10.743-10.266-16.435-15.047   l-97.802,97.803V189.219z" />
                    </g>
                    </svg>
                </div>

            </div>
        </div>
        <nav class="row navbar navbar-expand-lg navbar-toggleable-sm navbar-light" style="background: #2791B6">

            <div class="col-md-3" style="background: #2791B6"></div>

            <div class="col-md-9">
                <div  style="background: #2791B6">
                    <div class="container">
                            <div class="row justify-content-end">
                                <div style="width:50px; height:50px; margin-right:10px; margin-top:-13px;margin-bottom:10px;" id="toggleButtonDiv">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation" id="toggle_button">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="navbar-collapse collapse justify-content-between" id="headerNavContent">
                                <ul class="navbar-nav justify-content-lg-start">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                            <p id="mainPageP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:#F8BF0C;
                                                                        margin-left:-30px">
                                                @SharedLocalizer["Home"]
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">
                                            <p id="aboutUsP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:white;
                                                                        margin-left:20px">@SharedLocalizer["About Us"]</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">
                                            <p id="contactsP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:white;
                                                                        margin-left:20px">@SharedLocalizer["Contacts"]</p>
                                        </a>
                                    </li>


                                    <li class="nav-item" id="DesktopNavigationMenuFAQ">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">
                                            <p id="faqP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:white;
                                                                        margin-left:20px">@SharedLocalizer["FAQ"]</p>
                                        </a>
                                    </li>
                                </ul>

                                <div class="d-flex">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ" style="margin:auto" id="mobileNavigationBarFAQ">
                                            <p id="faqP" style="font-family: 'FiraGO-SemiBold' !important;
                                                                        font-size: 20px;
                                                                        font-style: normal;
                                                                        font-weight: 700;
                                                                        line-height: 23px;
                                                                        letter-spacing: -.03em;
                                                                        font-feature-settings: 'case' on;
                                                                        text-align: left;
                                                                        color:white;
                                                                        margin-left:20px">@SharedLocalizer["FAQ"]</p>
                                        </a>

                                  <div style="position:relative; margin-right:10px" id="searchBarForDesktop">
                                    <input name="searchWord" id="searchWord" style="border-radius:20px; background-color:white;width: 200px; height:30px;border-color:transparent; outline:none" />
                                    <div style="position:absolute; right:0px; top:-1px;">
                                        <a style="cursor:pointer">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="35" fill="none" viewBox="0 0 38 35" onclick="press()">
                                                <circle cx="15.862" cy="15.812" r="10.942" stroke="#CDCDCD" transform="rotate(-60 15.862 15.812)" />
                                                <path stroke="#CDCDCD" d="M31.605 24.989l-5.872-3.39" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                </div>


                            </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="row MobileTopBar" style="background-color:#F8BF0C;">

            <div class="d-flex">

                <div style="position:relative; margin-right:5px; margin-top:5px;">
                    <input name="searchWord" id="searchWord" style="margin-left:5px; margin-top:0px; margin-bottom:5px;border-radius:20px; background-color:white;width: 250px; height:30px;border-color:transparent; outline:none" />
                    <div style="position:absolute; right:0px; top:-1px;">
                        <a style="cursor:pointer">

                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="35" fill="none" viewBox="0 0 38 35" onclick="press()">
                                <circle cx="15.862" cy="15.812" r="10.942" stroke="#CDCDCD" transform="rotate(-60 15.862 15.812)" />
                                <path stroke="#CDCDCD" d="M31.605 24.989l-5.872-3.39" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div style="width:25px; height:25px; margin-top:5px; margin-left:7px; margin-right:10px; cursor:pointer"
                     onclick="
                                                $('#load').show();
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("CultureManagement", "Home", new {culture = "uk"})',
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: { culture: 'en' },
                                                    dataType: 'json',
                                                    success: function () {
                                                        location.reload();
                                                    },
                                                    error: function () {
                                                        location.reload();
                                                    }
                                                });
">

                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<circle style="fill:#FFDA44;" cx="256" cy="256" r="256"/>
<path style="fill:#338AF3;" d="M0,256C0,114.616,114.616,0,256,0s256,114.616,256,256"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
                </div>

                <div style="width:25px; height:25px;margin-top:5px;float:right; margin-right:10px;  cursor:pointer"
                     onclick="

                                                $('#load').show();
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("CultureManagement", "Home", new {culture = "en"})',
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: { culture: 'en' },
                                                    dataType: 'json',
                                                    success: function() {
                                                        location.reload();
                                                    },
                                                    error: function () {
                                                        location.reload();
                                                    }
                                                });
                                                ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" viewBox="0 0 26 26">
                        <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                        <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                        <g>
                            <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                        </g>
                        <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                        <g>
                            <path fill="#fff" stroke="#fff" stroke-width="2" d="M1 12.683C1 6.23 6.23 1 12.683 1h.634C19.77 1 25 6.23 25 12.683c0 6.452-5.23 11.683-11.683 11.683h-.634C6.23 24.366 1 19.136 1 12.683z" />
                            <path fill="#F22222" d="M25.574 11.508H.426v2.984h25.148v-2.984z" />
                            <path fill="#F22222" d="M11.508 0v25.148h2.984V0h-2.984zM9.924 17.378l-1.056.151.15-1.056h-1.96l.15 1.056-1.055-.15v1.96l1.056-.15-.151 1.055h1.96l-.15-1.055 1.056.15v-1.96zM19.847 17.378l-1.056.151.151-1.056h-1.96l.15 1.056-1.056-.15v1.96l1.056-.15-.15 1.055h1.96l-.15-1.055 1.055.15v-1.96z" />
                            <g>
                                <path fill="#F22222" d="M9.924 6.66l-1.056.151.15-1.055h-1.96l.15 1.055-1.055-.15v1.96l1.056-.15-.151 1.056h1.96l-.15-1.056 1.056.15v-1.96zM19.847 6.66l-1.056.151.151-1.055h-1.96l.15 1.055-1.056-.15v1.96l1.056-.15-.15 1.056h1.96l-.15-1.056 1.055.15v-1.96z" />
                            </g>
                            <path stroke="#fff" d="M.5 12.683C.5 5.954 5.954.5 12.683.5h.634C20.046.5 25.5 5.954 25.5 12.683c0 6.728-5.454 12.183-12.183 12.183h-.634C5.954 24.866.5 19.41.5 12.683z" />
                        </g>
                    </svg>

                </div>

                <div style="width:25px; height:25px;margin-top:5px; cursor:pointer;"
                     onclick="

                                                $('#load').show();
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("CultureManagement", "Home", new {culture = "ge"})',
                                                    contentType: 'application/json; charset=utf-8',
                                                    data: { culture: 'en' },
                                                    dataType: 'json',
                                                    success: function() {
                                                        location.reload();
                                                    },
                                                    error: function () {
                                                        location.reload();
                                                    }
                                                });">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <circle style="fill:#F0F0F0;" cx="256" cy="256" r="256" />
                    <g>
                    <path style="fill:#0052B4;" d="M52.92,100.142c-20.109,26.163-35.272,56.318-44.101,89.077h133.178L52.92,100.142z" />
                    <path style="fill:#0052B4;" d="M503.181,189.219c-8.829-32.758-23.993-62.913-44.101-89.076l-89.075,89.076H503.181z" />
                    <path style="fill:#0052B4;" d="M8.819,322.784c8.83,32.758,23.993,62.913,44.101,89.075l89.074-89.075L8.819,322.784L8.819,322.784   z" />
                    <path style="fill:#0052B4;" d="M411.858,52.921c-26.163-20.109-56.317-35.272-89.076-44.102v133.177L411.858,52.921z" />
                    <path style="fill:#0052B4;" d="M100.142,459.079c26.163,20.109,56.318,35.272,89.076,44.102V370.005L100.142,459.079z" />
                    <path style="fill:#0052B4;" d="M189.217,8.819c-32.758,8.83-62.913,23.993-89.075,44.101l89.075,89.075V8.819z" />
                    <path style="fill:#0052B4;" d="M322.783,503.181c32.758-8.83,62.913-23.993,89.075-44.101l-89.075-89.075V503.181z" />
                    <path style="fill:#0052B4;" d="M370.005,322.784l89.075,89.076c20.108-26.162,35.272-56.318,44.101-89.076H370.005z" />
                    </g>
                    <g>
                    <path style="fill:#D80027;" d="M509.833,222.609h-220.44h-0.001V2.167C278.461,0.744,267.317,0,256,0   c-11.319,0-22.461,0.744-33.391,2.167v220.44v0.001H2.167C0.744,233.539,0,244.683,0,256c0,11.319,0.744,22.461,2.167,33.391   h220.44h0.001v220.442C233.539,511.256,244.681,512,256,512c11.317,0,22.461-0.743,33.391-2.167v-220.44v-0.001h220.442   C511.256,278.461,512,267.319,512,256C512,244.683,511.256,233.539,509.833,222.609z" />
                    <path style="fill:#D80027;" d="M322.783,322.784L322.783,322.784L437.019,437.02c5.254-5.252,10.266-10.743,15.048-16.435   l-97.802-97.802h-31.482V322.784z" />
                    <path style="fill:#D80027;" d="M189.217,322.784h-0.002L74.98,437.019c5.252,5.254,10.743,10.266,16.435,15.048l97.802-97.804   V322.784z" />
                    <path style="fill:#D80027;" d="M189.217,189.219v-0.002L74.981,74.98c-5.254,5.252-10.266,10.743-15.048,16.435l97.803,97.803   H189.217z" />
                    <path style="fill:#D80027;" d="M322.783,189.219L322.783,189.219L437.02,74.981c-5.252-5.254-10.743-10.266-16.435-15.047   l-97.802,97.803V189.219z" />
                    </g>
                    </svg>
                </div>

            </div>
                
            
        </div>

        <!-- Messenger Chat plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "110100904957642");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v13.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    </header>
    <div>
        <main role="main" class="bg-light">

            @RenderBody()
        </main>
    </div>

    <script>


        window.addEventListener('load', function(event){
             $('#load').hide();

        var newWidth = window.innerWidth;
        var newHeight = window.innerHeight; 

       if(newWidth >= 1000)
        {
            $(".MobileTopBar").hide();
            $("#languageBarForDesktopUk").show();
            $("#languageBarForDesktopEN").show();
            $("#languageBarForDesktopGE").show();
            $("#searchBarForDesktop").show();
            $("#mainPageP").show();
            $("#DesktopNavigationMenuMedia").show();
            $("#DesktopNavigationMenuFAQ").show();
            $("#DesktopNavigationMenuBlog").show();
            $("#mobileNavigationBarFAQ").hide();
            $("#mobileNavigationBarBlog").hide();
            $("#mobileNavigationBarMedia").hide();
        }
        else
        {
            $(".MobileTopBar").show();
             $("#languageBarForDesktopUk").hide();
             $("#languageBarForDesktopEN").hide();
             $("#languageBarForDesktopGE").hide();
             $("#searchBarForDesktop").hide();
             $("#mainPageP").hide();
             $("#DesktopNavigationMenuMedia").hide();
             $("#DesktopNavigationMenuFAQ").hide();
             $("#DesktopNavigationMenuBlog").hide();
             
            $("#mobileNavigationBarFAQ").show();
            $("#mobileNavigationBarBlog").show();
            $("#mobileNavigationBarMedia").show();
        }
    });


    window.addEventListener('resize', function(event){
        var newWidth = window.innerWidth;
        var newHeight = window.innerHeight; 

       if(newWidth >= 1000)
        {
            $(".MobileTopBar").hide();
            $("#languageBarForDesktopUk").show();
            $("#languageBarForDesktopEN").show();
            $("#languageBarForDesktopGE").show();
            $("#searchBarForDesktop").show();
            $("#mainPageP").show();
            $("#DesktopNavigationMenuMedia").show();
            $("#DesktopNavigationMenuFAQ").show();
            $("#DesktopNavigationMenuBlog").show();
            $("#mobileNavigationBarFAQ").hide();
            $("#mobileNavigationBarBlog").hide();
            $("#mobileNavigationBarMedia").hide();
        }
        else
        {
            $(".MobileTopBar").show();
             $("#languageBarForDesktopUk").hide();
             $("#languageBarForDesktopEN").hide();
             $("#languageBarForDesktopGE").hide();
             $("#searchBarForDesktop").hide();
             $("#mainPageP").hide();
             $("#DesktopNavigationMenuMedia").hide();
             $("#DesktopNavigationMenuFAQ").hide();
             $("#DesktopNavigationMenuBlog").hide();
             
            $("#mobileNavigationBarFAQ").show();
            $("#mobileNavigationBarBlog").show();
            $("#mobileNavigationBarMedia").show();
        }
    });
    </script>
     
    <script>

        document.querySelector('#searchWord').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                var url = '/Categories/Search/1';
                var textValue = $('#searchWord').val();

                window.location.href = url + '?searchWord=' + textValue;
            }
        });


        //$("#searchButton").addEventListener('keypress', function (e) {
        //    if (e.key === 'Enter') {
        //      alert("adasdasf");
        //    }
        //});

        function press()
        {
            var url = '/Categories/Search/1';
            var textValue = $('#searchWord').val();

            window.location.href = url + '?searchWord=' + textValue;
        }
        
    </script>
    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2097534407085920');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2097534407085920&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
