@model test.Models.Home.SharedViewModel;

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


<div class="row" style="height:100vh;">

    <div class="col-md-3" style="background: #B9B9B9;">
        
        <div style="margin-top:30px;">
        @foreach (var category in Model.Categories)
        {
            <div class="row categoryItem">
                    @if (Model.Culture == "uk")
                    {
                        <a class="textStyle" style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryUkrainianName</p></a>
                    }
                    else
                    {
                        <a class="textStyle" style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryGeorgianName</p></a>
                    }
                </div>
        }
        </div>
    </div>

    <div class="col-md-9 bg-light" style="background: url('/content/images/background.svg') no-repeat bottom; background-position: 50% 115%;">
        <div class="container" style="margin-top:30px">
            <div class="row">
                @if(@Model.Culture == "en")
                {
                    @Html.Raw(Model.Info.PageTextInGeorgian)
                }
                else
                {
                    @Html.Raw(Model.Info.PageTextInUkrainian)
                }
            </div>
        </div>
    </div>

    <div class="row" style="background:#EEEEEE;">
        <div class=col-md-3>
            <div class="row">
                <div style="position: relative; top:10px;margin-left: 15px;">
                 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="183" height="55" fill="none" viewBox="0 0 183 55">
                  <path fill="#004990" d="M86.42 9.493v14.684c0 8.579-5.864 11.538-12.977 11.538-7.537 0-12.977-3.492-12.977-11.499V9.493h6.469v14.879c0 3.718 2.7 5.957 6.436 5.957 3.423 0 6.586-1.785 6.586-6.411V9.493h6.463zM109.068 16.215c-3.769-1.667-6.014-2.316-8.22-2.316-2.323 0-3.807.837-3.807 2.122 0 3.906 13.204 2.81 13.204 11.842 0 4.97-4.184 7.851-9.97 7.851-4.53 0-6.775-1.174-9.365-2.504v-5.58c3.73 2.465 6.014 3.341 8.87 3.341 2.474 0 3.808-.876 3.808-2.394 0-4.25-13.211-2.693-13.211-11.992 0-4.477 3.885-7.436 9.898-7.436 2.896 0 5.519.61 8.793 2.012v5.054z"/>
                  <path fill="#D31245" d="M140.957 35.377h-6.964l-2.128-5.12h-11.61l-1.94 5.12h-6.852L121.927 9.5h7.498l11.532 25.877zm-15.183-19.693l-3.808 10.057h7.992l-4.184-10.057zM150.283 9.493h-6.469v25.878h6.469V9.493zM167.295 9.493c9.475 0 14.35 5.879 14.35 12.978 0 7.436-4.719 12.9-15.073 12.9h-10.731V9.493h11.454zm-4.986 21.14h4.224c6.508 0 8.448-4.399 8.448-8.195 0-4.438-2.395-8.195-8.526-8.195h-4.152v16.39h.006z"/>
                  <path fill="#004990" d="M63.785 41.775h-2.402v1.7h2.402v.792h-2.402v2.848h-.885v-6.132h3.287v.792zM66.29 40.983c1.243 0 2.018.656 2.018 1.72 0 .707-.371 1.24-1.028 1.499.56.37.904.934 1.373 1.7.26.422.416.63.84 1.213h-1.055l-.813-1.259c-.814-1.258-1.185-1.401-1.634-1.401h-.37v2.66h-.886v-6.132h1.555zm-.663 2.68h.566c.95 0 1.217-.486 1.21-.999-.006-.578-.351-.928-1.21-.928h-.566v1.927zM73.202 40.9c2.03 0 3.313 1.44 3.313 3.146 0 1.655-1.243 3.147-3.332 3.147-2.012 0-3.287-1.486-3.287-3.147.006-1.693 1.314-3.147 3.306-3.147zm0 5.489c1.38 0 2.401-1 2.401-2.336 0-1.35-1.021-2.336-2.401-2.336-1.373 0-2.388.986-2.388 2.336 0 1.336 1.015 2.336 2.388 2.336zM83.315 47.115h-.885V42.34h-.02l-1.893 2.374h-.143L78.48 42.34h-.02v4.775h-.885v-6.132h.833l2.037 2.518 2.05-2.518h.82v6.132zM91.77 41.775H89.64v5.34h-.885v-5.34h-2.128v-.792h5.141v.792zM97.815 47.115h-.885v-2.667h-3.45v2.667h-.878v-6.132h.879v2.674h3.45v-2.674h.884v6.132zM102.664 41.775h-2.604v1.85h2.519v.791h-2.519v1.908h2.688v.791h-3.573v-6.132h3.489v.792zM111.534 47.115h-.898l-.82-1.81H107.2l-.775 1.81h-.904l2.642-6.17h.625l2.746 6.17zm-3.996-2.595h1.914l-.99-2.226-.924 2.226zM117.931 47.115h-.885V42.34h-.019l-1.894 2.374h-.143l-1.894-2.374h-.02v4.775h-.885v-6.132h.833l2.037 2.518 2.05-2.518h.82v6.132zM122.747 41.775h-2.603v1.85h2.512v.791h-2.512v1.908h2.688v.791h-3.573v-6.132h3.488v.792zM125.338 40.983c1.243 0 2.024.656 2.024 1.72 0 .707-.371 1.24-1.029 1.499.56.37.905.934 1.373 1.7.261.422.417.63.84 1.213h-1.054l-.814-1.259c-.813-1.258-1.184-1.401-1.633-1.401h-.371v2.66h-.885v-6.132h1.549zm-.664 2.68h.566c.95 0 1.217-.486 1.21-.999-.006-.578-.351-.928-1.21-.928h-.566v1.927zM130.108 40.983h-.885v6.132h.885v-6.132zM136.714 42.353c-.762-.442-1.406-.643-2.122-.643-1.406 0-2.454 1-2.454 2.35 0 1.375 1.009 2.329 2.493 2.329.696 0 1.451-.247 2.148-.695v.96a4.568 4.568 0 01-2.233.54c-2.31 0-3.319-1.772-3.319-3.057 0-1.875 1.419-3.238 3.378-3.238.631 0 1.276.156 2.115.506v.948h-.006zM143.202 47.115h-.905l-.82-1.81h-2.616l-.774 1.81h-.905l2.642-6.17h.625l2.753 6.17zm-3.996-2.595h1.913l-.989-2.226-.924 2.226zM149.567 47.115h-.755l-4.113-4.724v4.724h-.833v-6.132h.703l4.171 4.75v-4.75h.827v6.132zM155.307 40.983c1.347 0 1.959.792 1.959 1.765 0 .96-.651 1.72-2.076 1.72h-.918v2.654h-.885V40.99h1.92v-.007zm-1.035 2.687h1.002c.658 0 1.081-.35 1.081-.96 0-.448-.248-.935-1.048-.935h-1.035v1.895zM161.522 41.775h-2.603v1.85h2.512v.791h-2.512v1.908h2.688v.791h-3.573v-6.132h3.488v.792zM165.577 40.9c2.03 0 3.312 1.44 3.312 3.146 0 1.655-1.243 3.147-3.332 3.147-2.011 0-3.28-1.486-3.28-3.147-.007-1.693 1.302-3.147 3.3-3.147zm0 5.489c1.379 0 2.401-1 2.401-2.336 0-1.35-1.022-2.336-2.401-2.336-1.374 0-2.389.986-2.389 2.336-.006 1.336 1.015 2.336 2.389 2.336zM171.844 40.983c1.347 0 1.959.792 1.959 1.765 0 .96-.651 1.72-2.076 1.72h-.918v2.654h-.885V40.99h1.92v-.007zm-1.035 2.687h1.002c.657 0 1.08-.35 1.08-.96 0-.448-.247-.935-1.047-.935h-1.035v1.895zM175.443 46.324h2.779v.791h-3.664v-6.132h.885v5.34zM182.478 41.775h-2.603v1.85h2.518v.791h-2.518v1.908h2.687v.791h-3.573v-6.132h3.489v.792zM0 27.058C0 41.976 12.17 54.11 27.138 54.11c14.962 0 27.139-12.134 27.139-27.052C54.27 12.141 42.1 0 27.138 0 12.17 0 0 12.14 0 27.058zm.45 0C.45 12.388 12.423.448 27.137.448c14.715 0 26.69 11.94 26.69 26.61 0 14.672-11.975 26.611-26.69 26.611C12.418 53.663.45 41.73.45 27.06z"/>
                  <path fill="#fff" d="M27.138 48.446c11.851 0 21.457-9.578 21.457-21.394 0-11.816-9.606-21.394-21.457-21.394-11.85.007-21.457 9.584-21.457 21.4 0 11.81 9.606 21.388 21.457 21.388z"/>
                  <path fill="#004990" d="M5.454 27.058c0 11.92 9.723 21.615 21.678 21.615S48.81 38.978 48.81 27.058c0-11.92-9.723-21.614-21.678-21.614-11.949-.006-21.678 9.694-21.678 21.614zm.449 0c0-11.673 9.521-21.166 21.229-21.166 11.708 0 21.229 9.493 21.229 21.166 0 11.674-9.521 21.167-21.23 21.167-11.7 0-21.228-9.5-21.228-21.167z"/>
                  <path fill="#004990" d="M39.588 34.69H14.793v3.873h24.795v-3.874z"/>
                  <path fill="#fff" d="M17.292 36.195h.963v.006l-.781.578.306.915-.007.006-.768-.57-.774.57-.007-.006.306-.915-.787-.578v-.006h.97l.286-.902h.006l.287.902zM20.702 36.195h.97v.006l-.781.578.306.915-.007.006-.768-.57-.774.57-.007-.006.306-.915-.787-.578v-.006h.963l.293-.902h.006l.28.902zM24.119 36.195h.97v.006l-.782.578.306.915-.006.006-.775-.57-.768.57-.006-.006.306-.915-.788-.578v-.006h.963l.293-.902h.007l.28.902zM27.535 36.195h.97v.006l-.78.578.305.915-.007.006-.774-.57-.768.57-.007-.006.306-.915-.787-.578v-.006h.963l.293-.902h.007l.28.902zM30.952 36.195h.97v.006l-.781.578.306.915-.013.006-.768-.57-.768.57-.007-.006.306-.915-.787-.578v-.006h.963l.293-.902h.006l.28.902zM34.369 36.195h.97v.006l-.782.578.3.915-.007.006-.768-.57-.767.57-.007-.006.306-.915-.788-.578v-.006h.963l.287-.902h.013l.28.902zM37.785 36.195h.97v.006l-.78.578.298.915-.006.006-.768-.57-.768.57-.006-.006.299-.915-.781-.578v-.006h.963l.287-.902h.006l.286.902z"/>
                  <path fill="#D31245" d="M14.786 39.017s.13 1.674 2.07 2.966v-2.966h-2.07zM17.936 39.017h2.837v4.581s-1.783-.402-2.837-.98v-3.6zM21.86 39.017v4.802s1.003.175 1.165.188c.163.013 1.21.162 1.673.37v-5.366H21.86v.006zM39.575 39.017s-.13 1.674-2.07 2.966v-2.966h2.07zM36.419 39.017H33.58v4.581s1.783-.402 2.838-.98v-3.6zM32.547 39.017v4.802s-1.003.175-1.165.188c-.163.013-1.217.162-1.673.37v-5.366h2.838v.006z"/>
                  <path fill="#004990" d="M39.588 12.199H14.786v7.17h24.802V12.2z"/>
                  <path fill="#fff" d="M21.555 13.691v2.31c0 1.35-.918 1.81-2.038 1.81-1.184 0-2.037-.55-2.037-1.803V13.69h1.016v2.336c0 .584.423.935 1.009.935.54 0 1.034-.28 1.034-1.006v-2.265h1.015zM25.173 14.75c-.592-.26-.944-.364-1.289-.364-.364 0-.598.13-.598.337 0 .617 2.076.441 2.076 1.862 0 .78-.658 1.233-1.569 1.233-.71 0-1.067-.181-1.47-.396v-.875c.585.389.943.525 1.392.525.39 0 .599-.136.599-.376 0-.669-2.076-.422-2.076-1.882 0-.707.612-1.168 1.555-1.168.456 0 .866.097 1.38.318v.785zM30.243 17.76h-1.094l-.332-.805h-1.822l-.306.805h-1.073l1.646-4.069h1.178l1.803 4.069zm-2.382-3.095l-.599 1.583h1.256l-.657-1.583zM31.766 13.691H30.75v4.069h1.016V13.69zM34.499 13.691c1.49 0 2.252.922 2.252 2.038 0 1.168-.742 2.024-2.37 2.024h-1.685v-4.062H34.5zm-.781 3.323h.664c1.022 0 1.327-.695 1.327-1.292 0-.694-.377-1.284-1.34-1.284h-.651v2.576z"/>
                  <path fill="#D31245" d="M27.203 46.18c-.514-.882-1.38-1.316-1.38-1.316v-5.84h2.76v5.84c.007 0-.865.434-1.38 1.317z"/>
                  <path fill="#004990" d="M51.329 22.698v1.019l-.619-.824-.976.317.605-.817-.598-.818.976.325.618-.824v1.012l.95.311-.956.299zM2.76 22.088l.006-1.012.612.817.982-.311-.605.81.599.819-.976-.325-.619.83v-1.018l-.95-.312.95-.298z"/>
                  <path fill="url(#pattern0)" d="M13.883 21.809h27.334v11.002H13.883z"/>
                  <path fill="#004990" d="M4.712 14.412l1.503.74c.879.434.885 1.18.527 1.9-.377.766-1.008 1.15-1.828.74l-1.51-.74.325-.661 1.523.746c.384.188.748.026.937-.357.176-.35.15-.76-.325-.993l-1.478-.727.326-.648zM9.345 12.822l-.351.506-2.493.247 1.556 1.083-.423.604-2.421-1.694.384-.551 2.388-.253-1.484-1.032.424-.604 2.42 1.694zM8.03 9.89l-.485.551 2.222 1.941.485-.55L8.03 9.89zM10.94 7.787l-.781.733 1.653 1.752-.534.506L9.625 9.02l-.78.733-.372-.39 2.096-1.972.371.396zM14.65 8.046l-1.764 1.285-1.744-2.381 1.737-1.266.32.435-1.14.83.365.5 1.087-.791.325.434-1.093.799.423.57 1.165-.85.319.435zM14.76 4.575c.95-.513 1.757-.189 2.141.519.404.746.235 1.544-.8 2.109l-1.074.584-1.412-2.59 1.145-.622zm.657 2.388l.424-.228c.65-.356.605-.902.397-1.278-.241-.441-.69-.688-1.302-.357l-.417.22.898 1.643zM20.311 3.102c-.468-.046-.735-.04-.97.039-.253.084-.383.227-.338.363.137.422 1.53-.162 1.849.811.175.539-.176 1-.8 1.2-.489.163-.775.11-1.1.059l-.203-.604c.495.137.768.15 1.08.046.268-.085.385-.227.326-.396-.15-.46-1.523.175-1.855-.83-.162-.487.157-.941.808-1.156.312-.103.618-.13 1.021-.09l.182.558zM23.67 2.154l-1.055.202.469 2.361-.723.143-.468-2.362-1.048.208-.104-.532 2.825-.552.104.532zM27.015 4.302l-.794.058-.287-.564-1.32.104-.177.597-.78.058.956-3.03.853-.065 1.549 2.842zm-1.9-2.102l-.345 1.174.904-.071-.56-1.103zM29.54 2.031l-1.074-.039-.091 2.4-.735-.025.09-2.407-1.067-.04.02-.538 2.876.11-.02.539zM31.954 4.847l-2.147-.35.475-2.914 2.121.35-.084.533-1.4-.227-.097.61 1.328.214-.085.532-1.334-.214-.11.7 1.424.234-.09.532zM34.928 3.4c-.357-.298-.585-.441-.826-.506-.254-.071-.443-.026-.482.117-.123.428 1.36.714 1.08 1.706-.156.545-.702.734-1.34.552-.495-.143-.703-.338-.95-.565l.176-.61c.331.39.553.552.865.643.273.078.443.02.495-.143.13-.467-1.36-.707-1.074-1.726.137-.493.657-.694 1.315-.506.318.09.585.24.898.493l-.157.545zM38.306 7.21l-.716-.338.026-.63-1.197-.558-.45.435-.709-.33 2.337-2.168.774.363-.065 3.225zm-.612-2.765l-.878.856.826.383.052-1.24zM41.866 7.034a2.586 2.586 0 00-.774-.83c-.67-.435-1.178-.176-1.42.187-.286.435-.13.954.378 1.285.15.098.241.137.469.182l.189-.292-.358-.234.292-.454.977.636-.664 1.012c-.313.072-.86-.084-1.263-.344-.865-.564-1.132-1.486-.65-2.225.494-.753 1.438-.876 2.323-.299.37.24.677.558.846.837l-.345.539zM42.842 10.596l-1.653-1.42 1.926-2.233 1.634 1.402-.351.409-1.074-.922-.404.467 1.022.876-.358.41-1.022-.877-.462.539 1.094.94-.352.41zM45.172 13.14l-.41-.46.338-2.473-1.418 1.252-.488-.551 2.212-1.953.45.506-.313 2.368 1.354-1.194.494.552-2.219 1.953zM47.215 15.748c-.403-.227-.644-.447-.878-.81-.625-.961-.312-1.844.325-2.259.664-.428 1.634-.292 2.246.655.227.344.351.701.364 1.039l-.553.357c-.026-.37-.104-.714-.3-1.02-.344-.525-.898-.693-1.334-.408-.442.286-.52.857-.188 1.37.208.324.455.473.859.72l-.54.356zM48.83 16.482l.93-1.72.378.805-.567.973 1.113.188.384.798-1.926-.383-1.25.59-.312-.668 1.25-.584zM4.43 27.59l-2.952.115.029.733 2.952-.115-.029-.732zM1.965 32.288l-.09-.61 1.64-1.888-1.875.273-.11-.727 2.928-.428.098.668-1.562 1.817 1.79-.26.11.727-2.929.428zM5.265 35.066l-.306-1.02-2.31.689-.215-.708 2.317-.688-.306-1.018.52-.156.82 2.751-.52.15zM4.1 38.394l-.879-1.992 2.701-1.187.866 1.966-.495.214-.566-1.291-.566.253.54 1.226-.495.22-.546-1.232-.651.285.586 1.318-.495.22zM7.68 38.738c.312.52.143 1.038-.241 1.26-.28.161-.573.142-.879-.066.026.338-.24.597-.774 1.395l-.417-.694c.384-.59.814-.98.612-1.324l-.11-.181-1.036.61-.377-.636 2.545-1.506.676 1.142zm-1.341.11l.202.338c.104.175.28.305.494.175.189-.11.215-.292.072-.532l-.189-.318-.58.337zM8.005 44.176l-.384-.487.455-2.453L6.6 42.417l-.462-.577 2.31-1.836.423.525-.43 2.356 1.413-1.123.462.571-2.31 1.843zM10.888 46.934l-.58-.539.222-.59-.97-.902-.56.279-.572-.532 2.89-1.35.624.577-1.054 3.057zm.267-2.817l-1.1.546.664.616.436-1.162zM14.532 46.59l-.865-.636-1.432 1.94-.592-.435 1.432-1.94-.86-.636.32-.434 2.316 1.706-.319.435zM15.196 46.32l-1.513 2.53.631.376 1.514-2.53-.632-.375zM16.498 50.386c-.983-.448-1.224-1.396-.911-2.077.299-.649 1.158-1.135 2.173-.675 1.016.461 1.204 1.434.912 2.077-.326.688-1.211 1.116-2.174.675zm1.002-2.194c-.514-.233-1.002-.058-1.224.435-.22.493-.032.973.482 1.207.508.234.996.058 1.224-.435.214-.493.026-.973-.482-1.207zM21.743 52.118l-.598-.162-1.074-2.252-.501 1.817-.71-.194.788-2.842.65.181 1.042 2.155.475-1.74.716.195-.788 2.842zM25.713 52.657l-.787-.098-.17-.61-1.314-.155-.287.551-.774-.09 1.536-2.784.846.104.95 3.082zm-1.451-2.434l-.566 1.084.904.11-.338-1.194zM28.564 52.631l-2.252.02-.02-2.953h.736l.02 2.407 1.516-.013v.539zM31.27 49.335c1.062-.195 1.732.363 1.875 1.161.156.83-.26 1.544-1.425 1.752l-1.204.22-.534-2.9 1.289-.233zm-.123 2.465l.475-.084c.73-.136.853-.668.775-1.09-.091-.5-.436-.87-1.126-.746l-.462.084.338 1.836zM36.263 51.041l-2.076.668-.905-2.803 2.043-.662.163.513-1.34.435.188.59 1.282-.415.17.513-1.283.415.215.675 1.373-.441.17.512zM38.326 50.184l-.293.137-2.564-2.103.728-.337 1.42 1.194-.046-1.837.722-.337.033 3.283zM41.886 48.108l-1.842 1.155-1.575-2.492 1.816-1.142.292.455-1.197.752.332.526 1.139-.72.286.46-1.139.714.378.604 1.223-.773.287.461zM44.287 46.233l-1.757 1.408-1.855-2.297.573-.46 1.516 1.875 1.178-.948.345.422zM45.907 44.663c-.741.785-1.718.707-2.264.194-.521-.486-.71-1.46.052-2.264.761-.812 1.744-.675 2.264-.195.554.519.677 1.499-.052 2.264zm-1.763-1.649c-.384.41-.378.928.013 1.298.397.37.91.344 1.295-.065.384-.409.377-.921-.02-1.291-.384-.376-.904-.35-1.288.058zM45.875 39.958c.39-.551.95-.532 1.282-.298.338.24.56.752.17 1.31l-.34.48.97.682-.423.597-2.42-1.694.76-1.077zm.67 1.181l.195-.279c.196-.279.163-.448-.013-.571-.208-.143-.364-.078-.592.247l-.15.214.56.39zM47.808 36.59l.293-.57 2.635 1.336-.338.656-1.647-.837.469 1.129-.052.103-1.184.286 1.646.837-.338.655-2.636-1.336.293-.571 1.405-.35-.546-1.337zM51.771 34.417l-.703 2.057-2.798-.954.696-2.031.514.175-.462 1.337.586.2.436-1.271.514.175-.436 1.272.677.227.462-1.362.514.175zM52.591 30.686l-.117.61-2.18 1.233 1.861.363-.143.72-2.903-.564.137-.662 2.076-1.2-1.777-.345.144-.726 2.902.57zM50.424 26.961l-.059 1.064 2.415.137-.046.733-2.408-.136-.058 1.07-.54-.032.156-2.868.54.032z"/>
                  <defs>
                    <pattern id="pattern0" width="1" height="1" patternContentUnits="objectBoundingBox">
                      <use transform="scale(.00183 .00437)" xlink:href="#image0_28_9931"/>
                    </pattern>
                  </defs>
                </svg>
                <div style="position:absolute; right:15px; top:0px;">
                     <img src="~/content/images/EWMI.png" width="120px" height="50px;"/>
                 </div>
            </div>
               

            </div>
            
            <div class="row" style="margin-top:10px">
                <p style="font-size: 11px; margin-left: 20px;"> USAID-ის სამოქალაქო საზოგადოების ჩართულობის პროგრამა <br />USAID CIVIL SOCIETY ENGAGEMENT PROGRAM</p>
            </div>


        </div>

        <div class="col-md-7">
            <p style="font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 15px;
                        margin-left: 20px;
                        margin-top:10px;
                        /* or 150% */

                        letter-spacing: 0.1em;

                        color: #626262;">ვებგვერდზე განთავსებული ინფორმაციის მოძიება და შეკრება შესაძლებელი გახდა ამერიკელი ხალხის გულუხვი დახმარების წყალობით, ამერიკის შეერთებული შტატების საერთაშორისო განვითარების სააგენტოს (USAID) დაფინანსებით. ვებგვერდზე განთავსებულ მასალაზე პასუსისმგებელია მხოლოდ საინიციატივო ჯგუფი და შესაძლოა არ გამოხატავდეს ამერიკის შეერთებული შტატების საერთაშორისო განვითარების სააგენტოს (USAID), აღმოსავლეთ-დასავლეთის მართვის ინსტიტუტის (EWMI), ან ამერიკის შეერთებული შტატების მთავრობის შეხედულებებს.</p>
        </div>
        <div class="col-md-2 justify-content-center">
            <p  style="font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 15px;
                        margin-top:20px;
                        /* or 150% */

                        letter-spacing: 0.1em;

                        color: #626262;">© 2022 Dopomoga Ukraini</p>
        </div>
    </div>
</div>


<script>
    window.onload = function() {

        $("#faqP").css("color", "white");
        $("#mainPageP").css("color", "white");
        $("#contactsP").css("color", "#F8BF0C");
        $("#aboutUsP").css("color", "white");

    };

</script>

