@using Microsoft.Extensions.Localization
@model test.Models.Home.SharedViewModel;

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer


<div class="row" style="height:100vh;">

    <div class="col-md-3" style="background: #B9B9B9;" id="CategoriesDiv">
        
        <div style="margin-top:30px;">
        @foreach (var category in Model.Categories)
        {
           <div class="row categoryItem">
                    @if (Model.Culture == "uk")
                    {
                        <a class="textStyle" style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryUkrainianName</p></a>
                    }
                    else
                    {
                        <a class="textStyle" style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryGeorgianName</p></a>
                    }
                </div>
        }
        </div>
    </div>

    <div class="col-md-9 bg-light" style="background: url('/content/images/background.svg') no-repeat bottom; background-position: 50% 115%;">
         <h1 style="text-align:center ">@SharedLocalizer["FAQ"]</h1>
        <div class="container" style="margin-top:30px">
            <div class="row">
                @if(@Model.Culture == "en")
                {
                    @Html.Raw(Model.Info.PageTextInGeorgian)
                }
                else
                {
                    @Html.Raw(Model.Info.PageTextInUkrainian)
                }
            </div>
        </div>
    </div>

    <div class="row" style="background:#EEEEEE;">
        <div class="col-lg-3">

            <img src="~/content/images/USAID.png" style="margin-left:10px; margin-top:10px;" class="img-fluid" alt="Responsive image">
        </div>

        <div class="col-md-7">
            <p style="font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 15px;
                        margin-left: 20px;
                        margin-top:10px;
                        /* or 150% */

                        letter-spacing: 0.1em;

                        color: #626262;">ვებგვერდზე განთავსებული ინფორმაციის მოძიება და შეკრება შესაძლებელი გახდა ამერიკელი ხალხის გულუხვი დახმარების წყალობით, ამერიკის შეერთებული შტატების საერთაშორისო განვითარების სააგენტოს (USAID) დაფინანსებით. ვებგვერდზე განთავსებულ მასალაზე პასუხისმგებელია მხოლოდ საინიციატივო ჯგუფი და შესაძლოა არ გამოხატავდეს ამერიკის შეერთებული შტატების საერთაშორისო განვითარების სააგენტოს (USAID), აღმოსავლეთ-დასავლეთის მართვის ინსტიტუტის (EWMI), ან ამერიკის შეერთებული შტატების მთავრობის შეხედულებებს.</p>
        </div>
        <div class="col-md-2 justify-content-center" style="text-align:center">
            <p  style="font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 15px;
                        margin-top:20px;
                        /* or 150% */

                        letter-spacing: 0.1em;

                        color: #626262;">© 2022 Dopomoga Ukraini</p>
        </div>
    </div>
</div>

<script>
    window.onload = function() {

        $("#faqP").css("color", "#F8BF0C");
        $("#mainPageP").css("color", "white");
        $("#contactsP").css("color", "white");
        $("#aboutUsP").css("color", "white");
        $('#load').hide();


        if(window.innerWidth < 1000)
        {
            $("#CategoriesDiv").hide();
        }

    };

</script>
