@model test.Models.Home.HomeViewModel;

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<style>
    .textFont {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
    }

    .textFontBold {
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }
</style>

<div class="row" style="height:100vh;">

    <div class="col-md-3" style="background: #F8BF0C;">
        
        <div style="margin-top:30px;">
        @foreach (var category in Model.Categories)
        {
            <div class="row categoryItem">
                <a style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryGeorgianName</p></a>
            </div>
        }
        </div>
    </div>

    <div class="col-md-9 bg-light" style="background: url('/content/images/background.svg') no-repeat bottom; background-position: 50% 115%;">
        <div class="container" style="margin-top:30px">
            <div class="row">
                @if(!Model.ShowCategories)
                {
                    
                <div class="col-md-8">
                    @if(Model.Posts.ElementAtOrDefault(0) != null)
                    {
                        <div class="card-transparent mb-2">
                        <img class="card-img-top main-card-size" src="data:image/png;base64,@Model.Posts[0].ThumbnailBase64" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">@Model.Posts[0].CreatedAt.ToString("dd/MM/yyyy")</small></p>
                            <hr />
                            <p class="textFont">@Model.Posts[0].GeorgianTitle</p>
                        </div>
                        </div>
                    }
                    
                </div>
                <div class="col-md-4">

                    @if(Model.Posts.ElementAtOrDefault(1) != null)
                    {
                        <div class="card-transparent mb-2">
                        <img class="card-img-top side-card-size" src="data:image/png;base64,@Model.Posts[1].ThumbnailBase64" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">@Model.Posts[1].CreatedAt.ToString("dd/MM/yyyy")</small></p>
                            <hr />
                            <p class="textFont">@Model.Posts[1].GeorgianTitle</p>
                        </div>
                        </div>
                    }
                   @if(Model.Posts.ElementAtOrDefault(2) != null)
                    {
                        <div class="card-transparent mb-2">
                        <img class="card-img-top side-card-size" src="data:image/png;base64,@Model.Posts[2].ThumbnailBase64" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">@Model.Posts[2].CreatedAt.ToString("dd/MM/yyyy")</small></p>
                            <hr />
                            <p class="textFont">@Model.Posts[1].GeorgianTitle</p>
                        </div>
                        </div>
                    }
                    </div>
                }
                else
                {
                    <div class="row justify-content-evenly">

                    @foreach(var post in @Model.Posts)
                    {
                        <div class="card-transparent" style="width: 16rem;">
                          <img class="card-img-top" src="data:image/png;base64,@post.ThumbnailBase64" alt="Card image cap">
                          <div class="card-body">
                           <p class="card-text"><small class="text-muted">@post.CreatedAt.ToString("dd/MM/yyyy")</small></p>
                            <hr />
                            <p class="textFont">@post.GeorgianTitle</p>
                          </div>
                        </div>

                    }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
