@model test.Models.Home.HomeViewModel;

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<SharedResources> SharedHtmlLocalizer


<style>
    .textFont {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
    }

    .textFontBold {
        font-family: Roboto;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }
</style>

<div class="row" style="height:100vh; position:relative">

    <div class="col-md-3" style="background: #F8BF0C;">
        
        <div style="margin-top:30px;">
        @foreach (var category in Model.Categories)
        {
            if(Model.ChosenCategoryId == category.Id)
            {
                <div class="row activeCategory">
                    @if(Model.Culture == "uk")
                    {
                        <a style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryUkrainianName</p></a>
                    }
                    else
                    {
                        <a style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryGeorgianName</p></a>
                    }
                </div>
                }
                else
                {
                     <div class="row categoryItem">
                         @if(Model.Culture == "uk")
                        {
                            <a style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryUkrainianName</p></a>
                        }
                        else
                        {
                            <a style="text-decoration: none; padding-left: 30px" href="@Url.Action("Index", "Home", new {category = @category.Id})"><p class="textStyle">@category.CategoryGeorgianName</p></a>
                        }
                    </div>
                }

        }
        </div>
    </div>

    <div class="col-md-9 bg-light" style="background: url('/content/images/background.svg') no-repeat bottom; background-position: 50% 115%;">
        <div class="container" style="margin-top:30px">
            <div class="row">
                @if(!Model.ShowCategories)
                {
                <div class="col-md-8">
                    @if(Model.Posts.ElementAtOrDefault(0) != null)
                    {
                        <div class="card-transparent mb-2">
                            <a href="@Url.Action("PostInternalPage", "Home", new { id = @Model.Posts[0].Id})" style=" text-decoration: none;">
                        <img class="card-img-top main-card-size" src="data:image/png;base64,@Model.Posts[0].ThumbnailBase64" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">@Model.Posts[0].CreatedAt.ToString("dd/MM/yyyy")</small></p>
                            <hr />
                            @if(Model.Culture == "uk")
                            {
                                <p class="textFont">@Model.Posts[0].UkrainianTitle</p>
                            }
                            else
                            {
                                <p class="textFont">@Model.Posts[0].GeorgianTitle</p>
                            }
                        </div>
                        </a>
                    </div>
                    }
                    
                </div>
                <div class="col-md-4">

                    @if(Model.Posts.ElementAtOrDefault(1) != null)
                    {
                        <div class="card-transparent mb-2">
                            <a href="@Url.Action("PostInternalPage", "Home", new { id = @Model.Posts[1].Id})" style=" text-decoration: none;">
                        <img class="card-img-top side-card-size" src="data:image/png;base64,@Model.Posts[1].ThumbnailBase64" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">@Model.Posts[1].CreatedAt.ToString("dd/MM/yyyy")</small></p>
                            <hr />
                             @if(Model.Culture == "uk")
                            {
                                <p class="textFont">@Model.Posts[1].UkrainianTitle</p>
                            }
                            else
                            {
                                <p class="textFont">@Model.Posts[1].GeorgianTitle</p>
                            }
                        </div>
                        </a>
                        </div>
                    }
                   @if(Model.Posts.ElementAtOrDefault(2) != null)
                    {
                        <div class="card-transparent mb-2">
                        <a href="@Url.Action("PostInternalPage", "Home", new { id = @Model.Posts[2].Id})" style=" text-decoration: none;">
                        <img class="card-img-top side-card-size" src="data:image/png;base64,@Model.Posts[2].ThumbnailBase64" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">@Model.Posts[2].CreatedAt.ToString("dd/MM/yyyy")</small></p>
                            <hr />
                             @if(Model.Culture == "uk")
                            {
                                <p class="textFont">@Model.Posts[2].UkrainianTitle</p>
                            }
                            else
                            {
                                <p class="textFont">@Model.Posts[2].GeorgianTitle</p>
                            }
                        </div>
                        </a>
                        </div>
                    }
                    </div>

                    <div class="row" style="bottom:0px;">
            <div class="col-sm">
                <p style="font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 13px;
                            line-height: 19px;
                            /* or 146% */


                            color: #626262;">@SharedLocalizer["Info1"] <br> <span style="color:darkblue">144-3</span></p>
            </div>
            <div class="col-sm">
                <p style="font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 13px;
                            line-height: 19px;
                            /* or 146% */


                            color: #626262;">@SharedLocalizer["Info2"]  <br> <span style="color:darkblue">032 231 11 61</span> </p>
            </div>
           <div class="col-sm">
                <p style="font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 13px;
                            line-height: 19px;
                            /* or 146% */


                            color: #626262;">@SharedLocalizer["Info3"]   <br> <span style="color:darkblue">112</span> </p>
            </div>
           <div class="col-sm"></div>
        </div>
                }
                else
                {
                    <div class="row justify-content-evenly">

                    @foreach(var post in @Model.Posts)
                    {
                       
                            <div class="card-transparent" style="width: 16rem;">
                                 <a href="@Url.Action("PostInternalPage", "Home", new { id = post.Id})" style=" text-decoration: none;">
                              <img class="card-img-top" src="data:image/png;base64,@post.ThumbnailBase64" alt="Card image cap">
                              <div class="card-body">
                               <p class="card-text"><small class="text-muted">@post.CreatedAt.ToString("dd/MM/yyyy")</small></p>
                                <hr />
                                 @if(Model.Culture == "uk")
                                {
                                    <p class="textFont">@post.UkrainianTitle</p>
                                }
                                else
                                {
                                    <p class="textFont">@post.GeorgianTitle</p>
                                }
                              </div>
                                </a>
                            </div>
                    }
                    </div>
                }
            </div>
            
        </div>
        
    </div>
</div>


 