@model test.Models.Identity.InfoViewModel;

<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin-top:40px;">
            <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-light p-1" href="@Url.Action("Categories", "Identity")"> კატეგორიები</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-1" href="@Url.Action("Posts", "Identity")"> პოსტები</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-1" href="@Url.Action("Info", "Identity")"> ინფორმაცია</a>
            </div>
        </div>
        <div class="col-md-10">
            <form asp-action="CreateInfo" asp-controller="Identity" method="post" onsubmit="test()">
                <div class="container">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="form-control" asp-for="PageType" asp-items="@Model.InfoType">

                            </select>
                        </div>
                    </div>
                    @Html.TextAreaFor(model => model.InfoGeorgian, new {@id="editor", @height="500px"})
                    @Html.TextAreaFor(model => model.InfoUkrainian, new {@id="editorUk", @height="500px"})
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );

    ClassicEditor
    .create(document.querySelector( '#editorUk' ) )
    .catch( error => {
        console.error( error );
    } );
</script>